__default__:
   ntasks: 1
   N: DEF
   queue: mpi
   mem: 4G
   output: $(pwd)/log/sauron-%j.out
   error: $(pwd)/log/sauron-%j.err
   pe: smp
all:
   N: prA
fastqc_raw:
   N: FQR
   mem: 2G
   hint: multithread
fastqc_trimmed:
   N: FQT
   mem: 2G
   hint: multithread
reformat_read_headers:
   N: REF
   hint: multithread
trim_trimgalore:
   N: TRI
   mem: 10G
   hint: nomultithread
kmc:
   N: KMC
   mem: 2G
   hint: multithread
ec_blessfindk:
   N: BFK
   mem: 2G
   hint: multithread
ec_blesspe:
   N: BPE
   mem: 2G
   hint: multithread
ec_blessse:
   N: BSE
   mem: 2G
   hint: multithread
mergepairs_usearch:
   N: MER
   mem: 2G
   hint: multithread
stats:
   N: STA
   mem: 2G
   hint: multithread
plot_k_hist:
   N: PKH
   mem: 2G
   hint: nomultithread
