samples: "data/data.csv"

blessfindk:
   startk: 21

kmc:
   max_mem_in_GB: 40
   k: 11
   mincount: 2
   maxcount: 1000000000000
   maxcounter: 255

threads:
   trimmomatic: 24
   kmc: 42
   ec_blessfindk: 42
   ec_blesspe: 42
   ec_blessse: 42
   mergepairs_usearch: 20
