samples: "data/data.csv"

usearch_docker: "docker-archive:///usr/people/EDVZ/hahnc/src/Docker/usearch_v11.0.667.tar"

blessfindk:
   startk: 21

kmc:
   max_mem_in_GB: 30

threads:
   trimmomatic: 16
   kmc: 16
   ec_blessfindk: 16
   ec_blesspe: 16
   ec_blessse: 16
   mergepairs_usearch: 16
