sample	merged	forward	reverse	se	long	fast5_dir
Mfist	/binfl/lv71312/hahnc/prepro/results/Mfist/readmerging/usearch/Mfist-full/Mfist.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Mfist/readmerging/usearch/Mfist-full/Mfist.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Mfist/readmerging/usearch/Mfist-full/Mfist.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Mfist/errorcorrection/Mfist-full/Mfist.blesscorrected.se.fastq.gz
Nspec	/binfl/lv71312/hahnc/prepro/results/Nspec/readmerging/usearch/Nspec-full/Nspec.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Nspec/readmerging/usearch/Nspec-full/Nspec.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Nspec/readmerging/usearch/Nspec-full/Nspec.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Nspec/errorcorrection/Nspec-full/Nspec.blesscorrected.se.fastq.gz
Pmult	/binfl/lv71312/hahnc/prepro/results/Pmult/readmerging/usearch/Pmult-full/Pmult.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Pmult/readmerging/usearch/Pmult-full/Pmult.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Pmult/readmerging/usearch/Pmult-full/Pmult.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Pmult/errorcorrection/Pmult-full/Pmult.blesscorrected.se.fastq.gz
Mspec	/binfl/lv71312/hahnc/prepro/results/Mspec/readmerging/usearch/Mspec-full/Mspec.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Mspec/readmerging/usearch/Mspec-full/Mspec.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Mspec/readmerging/usearch/Mspec-full/Mspec.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Mspec/errorcorrection/Mspec-full/Mspec.blesscorrected.se.fastq.gz
Dohri	/binfl/lv71312/hahnc/prepro/results/Dohri/readmerging/usearch/Dohri-full/Dohri.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dohri/readmerging/usearch/Dohri-full/Dohri.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dohri/readmerging/usearch/Dohri-full/Dohri.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dohri/errorcorrection/Dohri-full/Dohri.blesscorrected.se.fastq.gz
Dcoel	/binfl/lv71312/hahnc/prepro/results/Dcoel/readmerging/usearch/Dcoel-full/Dcoel.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dcoel/readmerging/usearch/Dcoel-full/Dcoel.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dcoel/readmerging/usearch/Dcoel-full/Dcoel.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dcoel/errorcorrection/Dcoel-full/Dcoel.blesscorrected.se.fastq.gz
Gderj	/binfl/lv71312/hahnc/prepro/results/Gderj/readmerging/usearch/Gderj-full/Gderj.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gderj/readmerging/usearch/Gderj-full/Gderj.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gderj/readmerging/usearch/Gderj-full/Gderj.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gderj/errorcorrection/Gderj-full/Gderj.blesscorrected.se.fastq.gz
Gsalv	/binfl/lv71312/hahnc/prepro/results/Gsalv/readmerging/usearch/Gsalv-full/Gsalv.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gsalv/readmerging/usearch/Gsalv-full/Gsalv.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gsalv/readmerging/usearch/Gsalv-full/Gsalv.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gsalv/errorcorrection/Gsalv-full/Gsalv.blesscorrected.se.fastq.gz
GteuEt	/binfl/lv71312/hahnc/prepro/results/GteuEt/readmerging/usearch/GteuEt-full/GteuEt.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GteuEt/readmerging/usearch/GteuEt-full/GteuEt.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GteuEt/readmerging/usearch/GteuEt-full/GteuEt.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GteuEt/errorcorrection/GteuEt-full/GteuEt.blesscorrected.se.fastq.gz
GtruAu	/binfl/lv71312/hahnc/prepro/results/GtruAu/readmerging/usearch/GtruAu-full/GtruAu.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GtruAu/readmerging/usearch/GtruAu-full/GtruAu.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GtruAu/readmerging/usearch/GtruAu-full/GtruAu.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GtruAu/errorcorrection/GtruAu-full/GtruAu.blesscorrected.se.fastq.gz
GtruFei	/binfl/lv71312/hahnc/prepro/results/GtruFei/readmerging/usearch/GtruFei-full/GtruFei.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GtruFei/readmerging/usearch/GtruFei-full/GtruFei.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GtruFei/readmerging/usearch/GtruFei-full/GtruFei.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/GtruFei/errorcorrection/GtruFei-full/GtruFei.blesscorrected.se.fastq.gz
Abelo	/binfl/lv71312/hahnc/prepro/results/Abelo/readmerging/usearch/Abelo-full/Abelo.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Abelo/readmerging/usearch/Abelo-full/Abelo.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Abelo/readmerging/usearch/Abelo-full/Abelo.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Abelo/errorcorrection/Abelo-full/Abelo.blesscorrected.se.fastq.gz
Achor	/binfl/lv71312/hahnc/prepro/results/Achor/readmerging/usearch/Achor-full/Achor.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Achor/readmerging/usearch/Achor-full/Achor.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Achor/readmerging/usearch/Achor-full/Achor.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Achor/errorcorrection/Achor-full/Achor.blesscorrected.se.fastq.gz
Ccasu	/binfl/lv71312/hahnc/prepro/results/Ccasu/readmerging/usearch/Ccasu-full/Ccasu.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ccasu/readmerging/usearch/Ccasu-full/Ccasu.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ccasu/readmerging/usearch/Ccasu-full/Ccasu.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ccasu/errorcorrection/Ccasu-full/Ccasu.blesscorrected.se.fastq.gz
Dipl1	/binfl/lv71312/hahnc/prepro/results/Dipl1/readmerging/usearch/Dipl1-full/Dipl1.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dipl1/readmerging/usearch/Dipl1-full/Dipl1.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dipl1/readmerging/usearch/Dipl1-full/Dipl1.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dipl1/errorcorrection/Dipl1-full/Dipl1.blesscorrected.se.fastq.gz
Dlacu	/binfl/lv71312/hahnc/prepro/results/Dlacu/readmerging/usearch/Dlacu-full/Dlacu.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dlacu/readmerging/usearch/Dlacu-full/Dlacu.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dlacu/readmerging/usearch/Dlacu-full/Dlacu.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Dlacu/errorcorrection/Dlacu-full/Dlacu.blesscorrected.se.fastq.gz
Gacan	/binfl/lv71312/hahnc/prepro/results/Gacan/readmerging/usearch/Gacan-full/Gacan.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gacan/readmerging/usearch/Gacan-full/Gacan.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gacan/readmerging/usearch/Gacan-full/Gacan.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Gacan/errorcorrection/Gacan-full/Gacan.blesscorrected.se.fastq.gz
Lmino	/binfl/lv71312/hahnc/prepro/results/Lmino/readmerging/usearch/Lmino-full/Lmino.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Lmino/readmerging/usearch/Lmino-full/Lmino.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Lmino/readmerging/usearch/Lmino-full/Lmino.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Lmino/errorcorrection/Lmino-full/Lmino.blesscorrected.se.fastq.gz	/binfl/lv71312/hahnc/Philipp/Lmin-consent/Lmin_combined_corrected.fasta	/binfl/lv71312/hahnc/raw_reads/Leptocotyle_minor/var/lib/minknow/data/Lmin010720/Lmin/20200701_1621_MN34707_FAO01594_634663b8/fast5_pass
Pveri	/binfl/lv71312/hahnc/prepro/results/Pveri/readmerging/usearch/Pveri-full/Pveri.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Pveri/readmerging/usearch/Pveri-full/Pveri.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Pveri/readmerging/usearch/Pveri-full/Pveri.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Pveri/errorcorrection/Pveri-full/Pveri.blesscorrected.se.fastq.gz
Remar	/binfl/lv71312/hahnc/prepro/results/Remar/readmerging/usearch/Remar-full/Remar.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Remar/readmerging/usearch/Remar-full/Remar.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Remar/readmerging/usearch/Remar-full/Remar.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Remar/errorcorrection/Remar-full/Remar.blesscorrected.se.fastq.gz
Kscom	/binfl/lv71312/hahnc/prepro/results/Kscom/readmerging/usearch/Kscom-full/Kscom.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Kscom/readmerging/usearch/Kscom-full/Kscom.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Kscom/readmerging/usearch/Kscom-full/Kscom.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Kscom/errorcorrection/Kscom-full/Kscom.blesscorrected.se.fastq.gz
Ktang	/binfl/lv71312/hahnc/prepro/results/Ktang/readmerging/usearch/Ktang-full/Ktang.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ktang/readmerging/usearch/Ktang-full/Ktang.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ktang/readmerging/usearch/Ktang-full/Ktang.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ktang/errorcorrection/Ktang-full/Ktang.blesscorrected.se.fastq.gz
Ddent	/binfl/lv71312/hahnc/prepro/results/Ddent/readmerging/usearch/Ddent-full/Ddent.usearchmerged.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ddent/readmerging/usearch/Ddent-full/Ddent.usearchnotmerged.1.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ddent/readmerging/usearch/Ddent-full/Ddent.usearchnotmerged.2.fastq.gz	/binfl/lv71312/hahnc/prepro/results/Ddent/errorcorrection/Ddent-full/Ddent.blesscorrected.se.fastq.gz
