sample	lib	f_read	r_read	species
Mfist	M_fis	/gpfs/data/fs71312/hahnc/raw_reads/Microcotyle_fistulariae/B1_39_Micr_fi_BDSW202060154-1A_H7Y5KDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Microcotyle_fistulariae/B1_39_Micr_fi_BDSW202060154-1A_H7Y5KDSXY_L1_2.fq.gz	Microcotyle_fistulariae
Nspec	N_spe_1	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060155-1A-7UDI1684-5UDI1684_HC5THDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060155-1A-7UDI1684-5UDI1684_HC5THDSXY_L1_2.fq.gz	Neopolystoma_sp_ex_T_scripta_elegans
Nspec	N_spe_2	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060155-1A-7UDI1710-5UDI1710_HC5THDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060155-1A-7UDI1710-5UDI1710_HC5THDSXY_L1_2.fq.gz	Neopolystoma_sp_ex_T_scripta_elegans
Nspec	N_spe_3	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060157-1a-7UDI1710-5UDI1710_HHCCYDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060157-1a-7UDI1710-5UDI1710_HHCCYDSXY_L1_2.fq.gz	Neopolystoma_sp_ex_T_scripta_elegans
Nspec	N_spe_4	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060157-1a_HHCCYDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Neopolystoma_sp_ex_T_scripta_elegans/B1_15_Neop_sp_BDSW202060157-1a_HHCCYDSXY_L1_2.fq.gz	Neopolystoma_sp_ex_T_scripta_elegans
Pmult	P_mul_1	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060156-1A-7UDI1685-5UDI1685_HC5THDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060156-1A-7UDI1685-5UDI1685_HC5THDSXY_L1_2.fq.gz	Pricea_multae
Pmult	P_mul_2	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060156-1A-7UDI1711-5UDI1711_HC5THDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060156-1A-7UDI1711-5UDI1711_HC5THDSXY_L1_2.fq.gz	Pricea_multae
Pmult	P_mul_3	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060158-1a-7UDI1711-5UDI1711_HHCCYDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060158-1a-7UDI1711-5UDI1711_HHCCYDSXY_L1_2.fq.gz	Pricea_multae
Pmult	P_mul_4	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060158-1a_HHCCYDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Pricea_multae/B1_45_Pric_mu_BDSW202060158-1a_HHCCYDSXY_L1_2.fq.gz	Pricea_multae
Mspec	M_spe	/gpfs/data/fs71312/hahnc/raw_reads/Mazocraeidae_sp_ex_P_japonicus/B1_38_Mazo_sp_BDSW202060149-1A_H7VGHDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Mazocraeidae_sp_ex_P_japonicus/B1_38_Mazo_sp_BDSW202060149-1A_H7VGHDSXY_L1_2.fq.gz	Mazocraeidae_sp_ex_P_japonicus
Dohri	D_ohr	/gpfs/data/fs71312/hahnc/raw_reads/Discocotyle_ohridana/B1_11_Disc_oh_BDSW202060147-1A_H7VGHDSXY_L1_1.fq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Discocotyle_ohridana/B1_11_Disc_oh_BDSW202060147-1A_H7VGHDSXY_L1_2.fq.gz	Discocotyle_ohridana
Dcoel	D_coe_1	/gpfs/data/fs71312/hahnc/raw_reads/Dictyocotyle_coeliaca/Dcoel_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Dictyocotyle_coeliaca/Dcoel_2.fastq.gz	Dictyocotyle_coeliaca
Dcoel	D_coe_2	/gpfs/data/fs71312/hahnc/raw_reads/Dictyocotyle_coeliaca/Dcoel_2020_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Dictyocotyle_coeliaca/Dcoel_2020_2.fastq.gz	Dictyocotyle_coeliaca
Gderj	G_derj_1	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_derjavinoides/Gderj_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_derjavinoides/Gderj_2.fastq.gz	Gyrodactylus_derjavinoides
Gderj	G_derj_2	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_derjavinoides/Gderj_2020_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_derjavinoides/Gderj_2020_2.fastq.gz	Gyrodactylus_derjavinoides
Gsalv	G_salv_1	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_salvelini/Gsalv_Tyri_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_salvelini/Gsalv_Tyri_2.fastq.gz	Gyrodactylus_salvelini
GteuEt	G_teuc_Etr_1	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_teuchis/Gteuc_Etra_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_teuchis/Gteuc_Etra_2.fastq.gz	Gyrodactylus_teuchis_Etrachbach
GteuEt	G_teuc_Etr_2	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_teuchis/Gteuc_Etra_2020_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_teuchis/Gteuc_Etra_2020_2.fastq.gz	Gyrodactylus_teuchis_Etrachbach
GtruAu	G_trut_Auf_1	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_truttae/Gtrut_Aufs_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_truttae/Gtrut_Aufs_2.fastq.gz	Gyrodactylus_truttae_Aufsess
GtruAu	G_trut_Auf_2	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_truttae/Gtrut_Aufs_2020_1.fastq.gz	/gpfs/data/fs71312/hahnc/raw_reads/Gyrodactylus_truttae/Gtrut_Aufs_2020_2.fastq.gz	Gyrodactylus_truttae_Aufsess
